.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 999;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 1s all ease;
}
