@import "../../styles/sass/variables";

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 24px 40px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 1025px) {
    padding: 16px 20px;
  }

  svg {
    path,
    rect {
      transition: 0.5s all ease;
    }
  }

  .logo {
    transition: 0.5s all ease;
    @media (max-width: 1025px) {
      svg {
        max-width: 60px;
      }
    }
  }
  .burger {
    cursor: pointer;
    @media (max-width: 1025px) {
      svg {
        max-width: 20px;
      }
    }
  }
}
.navMenu {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  visibility: hidden;

  &.showMenu {
    visibility: visible;
  }

  .logoMenu {
    @media (max-width: 1025px) {
      display: none;
    }
  }

  .menuContent {
    display: flex;
    overflow-y: scroll;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;

    @media (max-width: 1025px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      > div {
        // flex: 1;
      }
    }

    @media (max-width: 430px) {
      //   height: 940px;
      overflow-y: scroll;
    }
  }

  .menuRed {
    flex-basis: 60%;
    background: $primary-red;
    transform: translateX(-100%);
    transition: 0.8s ease-out;

    padding: 80px;

    display: flex;
    flex-direction: column;
    gap: 42px;
    color: white;
    flex: 1;
    overflow: hidden;
    @media (max-width: 1025px) {
      padding: 40px 60px;
      flex-basis: 40%;
    }
    @media (max-width: 430px) {
      padding: 40px;
      flex-basis: 50%;
      .sendMessage {
        display: none;
      }
    }
    .arrowPatterns {
      position: absolute;
      top: -90px;
      right: 0;
      z-index: -1;
      @media (max-width: 430px) {
        top: unset;
        right: 0;
        bottom: -60px;
      }
    }

    &.showMenu {
      transition: 0.8s ease-in;
      transform: translateX(0);
    }
    .desc {
      max-width: 500px;
      font-weight: 300;
    }
  }
  .navFooter {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 430px) {
      flex-wrap: wrap;
      gap: 16px;
    }

    .address,
    .contact {
      p {
        font-weight: 300;
        &:nth-child(1) {
          font-weight: 700;
        }
      }
    }
  }

  .contactForm {
    background: white;
    position: absolute;

    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.8s ease-out;

    padding: 80px;

    display: flex;
    flex-direction: column;

    color: $primary-blue;
    @media (max-width: 1025px) {
      right: 0;
      justify-content: center;
      align-items: center;
      .navFooter {
        display: none;
      }
    }
    @media (max-width: 430px) {
      padding: 0 40px;
    }

    h4 {
      margin-top: 48px;
    }

    &.showForm {
      transform: translateX(0);
      transition: 0.8s ease-in;
    }

    form {
      max-width: 680px;
    }
    .radioGroup {
      display: flex;
      gap: 80px;
      margin-top: 64px;

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 2px solid #cccccc;
        border-radius: 50%;
      }
      .customRadio {
        display: flex;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .customRadio input[type="radio"]:checked ~ .checkmark {
        border: 2px solid $primary-blue;
      }
      .checkmark::after {
        content: "";
        position: absolute;
        display: none;
      }
      .customRadio input[type="radio"]:checked ~ .checkmark::after {
        display: block;
      }
      .customRadio .checkmark::after {
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $primary-blue;
      }
    }
    .inputGroup {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 32px;

      .inputWrapper {
        flex-basis: calc(50% - 40px);
        position: relative;
        @media (max-width: 1025px) {
          flex-basis: calc(100% - 40px);
        }
        &:last-child {
          flex-basis: calc(100% - 40px);
        }
        > input {
          width: 100%;
        }
        .errorMessage {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(100%);

          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 160%;
          color: $primary-red;
        }
      }
    }
    .btnGroup {
      display: flex;
      gap: 32px;
      margin-top: 64px;
      @media (max-width: 430px) {
        gap: 8px;
      }
    }
  }
  .menuBlue {
    flex-basis: 40%;
    background: $primary-blue;
    position: relative;
    transition: 0.8s ease-out;
    transform: translateX(100%);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    padding: 40px 0;
    padding-left: 7%;
    padding-top: 60px;

    overflow: hidden;
    @media (max-width: 1025px) {
      gap: 64px;
      flex: 1;
      flex-basis: 60%;
    }
    .sendMessage {
      display: none;
      @media (max-width: 430px) {
        display: block;
      }
    }
    .circlePatterns {
      position: absolute;
      bottom: -140px;
      right: -160px;
      z-index: -1;
      @media (max-width: 1025px) {
        left: -240px;
        bottom: -200px;
        right: unset;
      }
    }

    &.showMenu {
      transition: 0.8s ease-in;
      transform: translateX(0);
    }
    .logoMenuBlue {
      display: none;
      @media (max-width: 1025px) {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }

    .close {
      position: absolute;
      top: 25px;
      right: 40px;
      cursor: pointer;
      @media (max-width: 1025px) {
        right: 20px;
        top: 20px;
        max-width: 20px;
      }
    }
  }
}
