$primary-red: #ff3355;
$primary-blue: #002266;
// secondary
$s-teal: #008080;
$s-green: #00c0a0;
$s-spring: #f0f8f0;
$s-blue: #0080a0;
$s-clear: #e0f0f0;
$s-yellow: #e0f0f0;
$s-maroon: #800000;
$s-seashell: #fff8f0;
$s-gray: #333333;
