@import "./sass/variables";
@import "./sass/animation";
.container {
  overflow: hidden;
  // resuse
  .contentWrapper {
    max-width: 1360px;
    margin: 0 auto;
  }
  .link {
    text-transform: uppercase;
    color: $primary-red;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;

    margin-top: 64px;
    cursor: pointer;

    display: flex;
    align-items: center;
    margin-left: -16px;

    > * {
      margin-left: 16px;
    }

    &:hover > .line {
      width: 20px;
    }

    .line {
      width: 80px;
      height: 1px;
      background-color: $primary-red;

      transition: 0.8s all ease;
    }
  }
  //
  .bannerContainer {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    .bannerVideo {
      width: 100%;
      height: 100%;
      margin-top: -4%;
    }
    .bannerText {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translateX(-50%);

      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;
      color: white;

      white-space: nowrap;
    }
    .exploreMore {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      height: 160px;

      text-transform: uppercase;

      display: flex;
      justify-content: center;

      overflow: hidden;
      transition: 1s all ease;

      &.gone {
        opacity: 0;
      }
      p {
        font-weight: 700;
        font-size: 16px;
      }
      .line {
        height: 100%;
        width: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: -32px;
        animation: slide-down 1.4s linear infinite;
      }
    }
  }
  .about {
    display: flex;
    gap: 100px;
    padding: 10%;

    .visual {
      position: relative;
      width: 600px;
      height: 500px;

      min-width: 300px;
      .logoSprite {
        min-width: 300px;
        width: 600px;
        height: 400px;
        background: url("/pitek_logo_sprite.png") 0px 0px;
        animation: spriteMoveX 0.4s steps(10) infinite,
          spriteMoveY 4.8s steps(12) infinite;
        position: absolute;
      }
      .visualLayer1 {
        position: absolute;
        background: url("/visual_layer1.png");
        background-size: 100%;

        top: 0;
        left: 0;
        width: 600px;
        height: 500px;
        min-width: 300px;
      }
      .visualLayer2 {
        position: absolute;
        background: url("/visual_layer2.png");
        background-size: 100%;

        top: 0;
        left: 0;
        width: 600px;
        height: 500px;
        min-width: 300px;
      }
    }
    .aboutContent {
      flex: 1;
      max-width: 640px;
      h2 {
        position: relative;
        margin-bottom: 32px;
        color: $primary-blue;
      }
      p {
        color: $s-gray;
        font-size: 16px;
        max-width: 440px;
      }
      .textSlider {
        color: $primary-red;
        display: inline-flex;
        width: 260px;

        flex-direction: column;
        // animation: slideIn 3s ease infinite;
        position: relative;
        height: 60px;
        transform: translateY(60px);

        .text {
          position: absolute;
          top: 14px;
          &.show {
            animation: slideIn 1s ease;
            animation-fill-mode: forwards;
          }
          &.notShow {
            animation: slideOut 1s ease;
            animation-fill-mode: none;
          }
        }
      }
    }
  }
  // TODO: service
  .service {
    padding-bottom: 10%;
    position: relative;
    h1 {
      text-align: center;
      color: $primary-red;
      margin-bottom: 80px;
    }
    .cards {
      display: flex;
      justify-content: center;
      margin-left: -80px;

      > * {
        margin-left: 80px;
      }
      .card {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        background: #ffffff;
        box-shadow: 0px 8px 32px rgba(0, 128, 160, 0.08);
        border-radius: 16px;

        padding: 60px;
        .icon {
          margin-bottom: 32px;
        }
        h5 {
          margin-bottom: 16px;
          background: linear-gradient(274.9deg, #002266 46.05%, #ff3355 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .plusPattern {
      position: absolute;
      bottom: -80px;
      left: 50%;
      z-index: -1;
    }
    .circlePattern {
      position: absolute;
      top: 6.25%;
      right: -180px;
      z-index: -1;
    }
    .arrowPattern {
      position: absolute;
      bottom: 7.3%;
      left: 9.3%;
      z-index: -1;
    }
  }
  // TODO: projects
  .project {
    position: relative;
    padding: 10%;
    .projectBg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: #002266;
      opacity: 0.5;
    }
    .projectContainer {
      display: flex;
      gap: 64px;
      .projectCards {
        display: flex;
        margin-left: -32px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        width: 1000px;
        background-color: rgba(147, 113, 113, 0.437);
        cursor: grab;
        overflow: auto;

        .projectCard {
          width: 400px;
          min-width: 400px;
          background-color: black;
          color: white;
          margin-left: 32px;
          scroll-snap-align: start;
        }
      }
      // .projectSpriteSheet {
      //   width: 440px;
      //   height: 640px;

      //   background: url("/projects/project_spritesheet.png") 0px 0px;
      //   animation: moveX 0.5s steps(10) infinite, moveY 3s steps(6) infinite;
      // }
      // .projectSpriteSheet {
      //   height: 0;
      //   position: relative;
      //   padding-bottom: 56.25%;
      // }
      // .projectSpriteSheet > * {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;

      //   background: url("/projects/project_spritesheet.png") 0px 0px;
      //   animation: moveX 0.5s steps(10) infinite, moveY 3s steps(6) infinite;
      //   background-size: 440px 640px;
      // }

      .projectSpriteSheet {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 0.231);
        max-width: 440px;
        max-height: 640px;

        &:before {
          content: "";
          display: block;
          padding-top: 145.4545%;
        }

        > div {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: url("/projects/project_spritesheet.png") no-repeat 0 0%;
          animation: moveX 0.5s steps(10) infinite, moveY 3s steps(6) infinite;
          // actual bg width / display width => *100%
          background-size: 1000% 1300.3%;
        }
      }

      .projectContent {
        min-width: 400px;
        width: 400px;
        h1 {
          color: $primary-red;
          margin-bottom: 32px;
        }
        p {
          color: $s-clear;
        }
        .link {
          color: white;
          margin-top: 64px;
          .line {
            background-color: white;
          }
        }
        .slideNavigate {
          display: flex;
          gap: 16px;
          margin-top: 50%;
          .slideBtn {
            padding: 24px;
            background-color: rgba(0, 34, 102, 0.25);
            border: 2px solid rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(8px);
            border-radius: 50%;
            // opacity: 0.25;
            cursor: pointer;
            z-index: 10;

            &.slideRight {
              transform: rotate(180deg);
            }
          }
        }
      }
      // TODO:
      .mySwiper {
        overflow: visible;

        .projectCard {
          filter: drop-shadow(0px 8px 32px rgba(0, 128, 160, 0.08));
          border-radius: 24px;
          position: relative;
          .info {
            position: absolute;
            bottom: 6%;
            left: 14%;
            color: white;
          }
        }
      }
    }
  }
}
