@import "./sass/variables";
.projectPage {
  max-height: 100vh;
  height: 100vh;
  //   overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  .projectContent {
    display: flex;
    flex: 1;
    padding-top: 92px;
    height: calc(100% - 1820px);

    .banner {
      flex-basis: 30%;
      background-image: url("/projects/ecoe_banner.png");
      background-position: center;
      background-size: cover;
    }
    .projectInfo {
      flex: 1;
      padding: 120px 160px;
      overflow-y: scroll;
      background: #f8fafa;
      box-shadow: -8px 0px 32px rgba(0, 0, 0, 0.1);

      display: flex;
      flex-direction: column;
      gap: 64px;
      p {
        font-weight: 300;
      }
      .title {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .list {
        display: flex;
        gap: 160px;
        .col {
          display: flex;
          flex-direction: column;
          gap: 16px;
          p:nth-child(1) {
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0.04em;
            color: #cccccc;
          }
        }
      }

      .categoryBlock {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h3 {
          color: $primary-red;
        }
      }

      .projectFooter {
        border-top: 1px solid #cccccc;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        .footerItem1 {
          display: flex;
          gap: 32px;
        }
        .footerItem2 {
          display: flex;
          align-items: center;
          gap: 40px;
          color: $primary-red;
        }
      }
    }
  }
}
